@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 7.5vh;
    font-family: 'Quicksand', sans-serif;
    font-weight:100;
    padding-bottom: 2vh;
}

.company{
    width: 30vw;
}

.company h1{
    margin-bottom: 2vh;
}

.footer-links h1{
    margin-bottom: 2vh;
}

.footer-links a{
    color: white;
}

.social-media h1{
    margin-bottom: 2vh;
}

.copyright{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.first{
    color:#A5E1CF;
  }
  
  .second{
    color:#FFE8E8;
  }

  @media screen and (max-width:950px) {
    .company h1{
        font-size: 3vw;
    }
    .company p{
        font-size: 1.5vw;
    }
    .footer-links h1{
        font-size: 3vw;
    }
    .footer-links a{
        font-size: 1.5vw;
    }
    .social-media h1{
        font-size: 3vw;
    }
    .social-media p{
        font-size: 1.5vw;
    }
  }