@import 'https://fonts.googleapis.com/css?family=Rubik+One';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background: #0a113b;
    padding: 1vh 2vw;    
    color: #84e4a4;
}

.list{
    display: flex;
    list-style-type: none;
    align-items: center;
}


.logo{
    display: flex;
    align-items: center;
    margin-right: 35vw;
    font-family: 'Quicksand', sans-serif;
}

.first{
    color:#A5E1CF;
  }
  
  .second{
    color:#FFE8E8;
  }

.list-items{
    margin: 1.25vh 1vw;
    position: relative;
}

.list-items img{
    width: 20%;
}

.list-items img:nth-child(1){
    margin-right: 1vw;
}

.list-items:nth-child(1){
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight: bolder;
}

.button{
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik One', sans-serif;
    color: black;
    padding: 1vw 0.5vw;
    transform: translate(-5%, -10%);
	vertical-align: middle;
    transition: all .5s;
    background-color: #84e4a4;
    position: relative;
    box-shadow: 5px 5px 0 #209447;
    font-size: 1vw;
}

.button:hover{
    transform: translate(-1px,-2px);
    transition: all .5s;
}


@media screen and (max-width:480px) {
    .logo{
        margin-right: 10vw;
    }

    .button{
        display: inline-block;
        text-decoration: none;
        font-family: 'Rubik One', sans-serif;
        color: black;
        padding: 1vw 0.5vw;
        transform: translate(-5%, -10%);
        vertical-align: middle;
        transition: all .5s;
        background-color: #84e4a4;
        position: relative;
        box-shadow: 5px 5px 0 #209447;
        font-size: 2vw;
    }

    .list-items:nth-child(1){
        font-family: sans-serif;
        font-size: 4vw;
        font-weight: bolder;
    }
}

@media screen and (max-width: 950px) {
    .logo{
        margin-right: 5vw;
    }

    .button{
        display: inline-block;
        text-decoration: none;
        font-family: 'Rubik One', sans-serif;
        color: black;
        padding: 1vw 0.5vw;
        transform: translate(-5%, -10%);
        vertical-align: middle;
        transition: all .5s;
        background-color: #84e4a4;
        position: relative;
        box-shadow: 5px 5px 0 #209447;
        font-size: 2.5vw;
    }

        .list-items:nth-child(1){
        font-family: sans-serif;
        font-size: 4.4vw;
        font-weight: bolder;
    }
}





