@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.watchlistpage{
    padding: 0.5rem 132px;
    background-color: whitesmoke;
    color: black;
    font-family:'Poppins', sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.watchlistpage h1,.options{
    margin: 3rem 0;
}

.options{
    font: inherit;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.button-options {
    align-items: center;
    margin-right: 2rem;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #2f3c9e 0, #0a113b 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    /* position: relative; */
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font: inherit;
  }
  
  .button-options:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-options:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-options:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .table-container{
    display: flex;
    justify-content: center;
    font-family:'Poppins', sans-serif;
    color: black;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .table{
    padding: 0.5rem 132px;
    background-color:whitesmoke;
    color: black;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  
  thead{
    background-color: lightgray;
  
  }
  
  th{
    font: inherit;
    text-align: left;
    font-size: 0.8rem;
  }
  
  
  
  tr{
    font: inherit;
    border-bottom: 0.5px solid lightgray;
    vertical-align: middle;
  }
  
  tbody tr:hover{
    background-color: lightsteelblue;
  }
  
  tbody img{
    width: 4rem;
  }
  
  tbody img.toggle{
    width: 1.5rem;
    cursor: pointer;
    fill: gray;
  }
  
  .name-heading{
    padding-left: 1rem;
  }
  
  .coin-image{
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
  
  .favicon svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  
  
  .star-icon-container {
    position: relative;
  }
  
  .star-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  
  .label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
  
  .star-icon-container:hover .label {
    opacity: 1;
  }

